.vscode
build
CMakePresets.json
src/main.dSYM/** 
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
src/main.dSYM
emp-tool
emp-tool/** 
RES.md
upload.sh
TODO
scripts
socket-cpp-master
GraphMPC.code-workspace
config
example_graphs
certs_old
memory.sh
run_LAN_benchmarks.sh
net_config.json
src/old