.vscode
build
CMakePresets.json
src/main.dSYM/** 
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
src/main.dSYM
emp-tool
emp-tool/** 
RES.md
upload.sh
TODO
scripts/macos/**
scripts/*/**
scripts/**
scripts/macos/benchmark_pi_m.sh
scripts/macos/test_mp_dealer_p0.sh
scripts/macos/test_mp_dealer_p1.sh
scripts/macos/test_mp.sh
scripts/macos/test_pi_m.sh
scripts/macos/test_sharing_p1.sh
scripts/macos/test_sharing.sh
socket-cpp-master/** 